* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  line-height: 1.6;
  overflow-x: hidden;
  transition: background-color 0.3s ease-in-out;
  max-height: 100vh;
}

a {
  color: #bb86fc;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #03dac6;
}

p {
  color: #b0b0b0;
  margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.card {
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-content {
  font-size: 1rem;
  color: #b0b0b0;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #6200ee;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #3700b3;
  transform: translateY(-3px);
}

button:focus {
  outline: none;
}

input,
select,
textarea {
  background-color: #333;
  border: 1px solid #444;
  color: #e0e0e0;
  padding: 0.8rem;
  border-radius: 8px;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #03dac6;
  outline: none;
}

.navbar {
  background-color: #121212;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  padding: 0.5rem;
}

.navbar a {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar a:hover {
  color: #03dac6;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
* {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #110523;
  --sb-size: 7px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
  border: 1px solid #ffffff;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
